@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --bg_white: rgb(255, 255, 255);
    --accent_yellow: rgb(238, 201, 38);
    --accent_yellow_emphasis: rgb(238, 175, 38);
    --text_grey: rgb(134, 134, 134);
    --bg_dark_white: rgb(200, 200, 200);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--bg_white);
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--text_grey);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10%;
    position: fixed;
    width: 100%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav-contents {
    list-style: none;
}

.nav-contents li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-contents li a {
    transition: all 0.3s ease 0s;
}

.nav-contents li a:hover {
    text-decoration: underline;
}

button {
    padding: 9px 25px;
    background-color: var(--accent_yellow);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
}

button:hover {
    background-color: var(--accent_yellow_emphasis);
}

.content {
    background-color: var(--bg_dark_white);
    height: 1600px;
}
