@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --bg_white: rgb(255, 255, 255);
    --accent_yellow: rgb(238, 201, 38);
    --accent_yellow_emphasis: rgb(238, 175, 38);
    --text_grey: rgb(134, 134, 134);
    --bg_dark_white: rgb(200, 200, 200);
    --bg_modal_shade: rgb(0, 0, 0, 0.5);
    --black: rgb(0, 0, 0);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--bg_modal_shade);
}

.modal-content{
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg_white);
  margin: auto;
  padding: 20px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.close {
  color: var(--text_grey);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus{
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}