.sponsors-section {
    margin: 0 auto;
    width: 90%;
}

.sponsor {
    padding-left: 70px;
    padding-right: 70px;
}

.filter-section {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: left;
    padding-left: 30px;
}

.title-project-listings {
    font-size: 72px;
    text-shadow: 4px 4px var(--text_shadow);
    color: var(--bg_white);
}

.centered-project-listings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
}